.container {
    max-width: 1440px;
    height: 100vh;

    margin: 0 auto;
    padding: 35px 16px;

    display: flex;
    flex-direction: row;
    align-items: center;

    @include responsive() {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 144px;
        overflow: hidden;
        height: auto;
    }

    @include responsiveLg(){
        max-width: 1200px;
    }

    .container-item-1 {
        max-width: 576px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .btn {
            display: inline-block;

            padding: 12px 32px;
            border-radius: 3px;
            transform: skewX(-10deg);
            transition: 0.7s ease;

            text-transform: uppercase;

            background: linear-gradient(225deg, #ea1d22 0%, #b31317 100%);

            position: relative;

            &::after {
                content: "";
                display: block;
                position: absolute;
                right: -2px;
                bottom: -2px;
                opacity: 0;

                width: 30%;
                height: 70%;
                border-radius: 3px;
                transition: 0.7s ease;

                border-bottom: 3px solid #fff;
                border-right: 3px solid #fff;
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                left: -2px;
                top: -2px;
                opacity: 0;

                width: 30%;
                height: 70%;
                border-radius: 3px;
                transition: 0.7s ease;

                border-top: 3px solid #fff;
                border-left: 3px solid #fff;
            }

            &:hover {
                transform: skewX(-10deg) scale(1.05);
                &::after,
                &::before {
                    opacity: 1;
                }
            }
        }

        .btn-secondary {
            display: inline-block;

            padding: 10px 32px;
            border-radius: 3px;
            transform: skewX(-10deg);
            transition: 0.7s ease;

            text-transform: uppercase;

            background: transparent;
            border: 2px solid #ea1d22;

            position: relative;

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: -2px;
                left: -2px;

                z-index: -1;

                width: 0%;
                height: calc(100% + 4px);
                transition: 0.7s ease;

                background: linear-gradient(225deg, #ea1d22 0%, #b31317 100%);
                border-radius: 3px;
            }

            &:hover {
                &::after {
                    width: calc(100% + 4px);
                }
            }
        }
    }

    .container-item-2 {
        .spiderman {
            width: 150%;
            transform: translate3d(-170px, 0, 0);
        }
    }
}

.bg-video {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;
    overflow: hidden;

    display: flex;
    justify-content: center;

    &::after {
        content: "";
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        display: block;

        background: linear-gradient(101.47deg, #0a0c10 26.38%, rgba(10, 12, 16, 0.8) 50.07%, #0a0c10 73.17%);
    }
}

.bg-loader {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    background: linear-gradient(225deg, $red 0%, $red-dark 100%);

    svg {
        max-width: 144px;
    }
}
